.dock-item {
  position: relative;
  width: 56px;
  height: 56px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background: rgba(255, 255, 255, 1);

  border: 1px solid #8063c0;

  cursor: pointer;
  transition: all 0.2s ease;
}

.dock-item:hover {
  transform: translateY(-6px);
}

.dock-panel {
  display: flex;
  align-items: center;
  gap: 18px;

  padding: 20px 24px;   /* equal top & bottom */
  border-radius: 22px;

  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(20px);

  border: 1px solid rgba(255, 255, 255, 0.3);

  overflow: visible; /* VERY IMPORTANT */
}

.dock-icon {
  width: 24px;
  height: 24px;
}

.dock-item:hover .dock-icon {
  transform: scale(1.3);
}

.dock-label {
  position: absolute;
  bottom: 95%;
  transform: translateX(-50%);

  padding: 8px 14px;
  border-radius: 12px;
  border: 1px dashed #1eb5cf;


  background: #fff;
  backdrop-filter: blur(10px);

  color: #1eb5cf;
  font-size: 12px;
  font-weight: 500;

  white-space: nowrap;
  pointer-events: none;
}
