.scroll-stack-card {
  transform-origin: top center;
  will-change: transform;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
}

.label-blue {
  color: #8063c0;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid #8063c0;
  border-radius: 5px;
  padding: 2px 5px;
  font-size: 10px;
  min-width: 100px;
}